<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            {% if 'username' not in session %}
                <a href="{{ url_for('show_login') }}">Log in</a>
            {% else %}
                <a href="{{ url_for('disconnect') }}">({{ session['username'] }}) Log out</a>
            {% endif %}
        </div>
    </div>
    <div class="row top-menu">
        <div class="col-md-6 header-div">
            <a href="{{ url_for('item_catalog') }}">
                <h1>Item Catalog</h1>
            </a>
        </div>
    </div>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong> {{ message }} </strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>